p,
h1,
h2,
h3 {
  display: block;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h1 {
  font-size: 2.92rem;
}

.main-container {
  background-color: white;
  max-width: 1200px;
  margin: 0 auto;
  width: 100vw;
  height: 90vh;
}

header {
  background-color: #ff0000;
  color: white;
  text-align: center;
  text-transform: uppercase;
  height: 56px;
  margin-bottom: 15px;
}

.lesson-container {
  background-color: #f2d398;
  max-width: 1200px;
  margin: 0 auto;
  width: 100vw;
}

.hero {
  width: 90%;
  margin: auto;
}

.hero-text {
  margin-top: 45px;
  text-align: center;
  height: 275px;
  background-color: white;
  line-height: 2rem;
}

.create-join-instruct {
  background-color: white;
}

.hero-image {
  margin: auto;
  width: 50%;
}

.btn-large,
.btn-small {
  background-color: #ff0000;
}

.btn-small {
  background-color: grey;
  border-radius: 1px;
}

.btn-small:hover,
.btn-small:focus {
  background-color: tan;
}

.btn-large:hover,
.btn-large:focus {
  background-color: #00ff00;
}

.log-in-out {
  text-align: center;
}

.separate {
  margin: 15px;
}
/* True false divs to take out once I have light images in place */

.false {
  background-color: #ff0000;
  width: 20px;
  height: 20px;
}

.true {
  background-color: green;
  width: 20px;
  height: 20px;
}

.logout-header {
  /* margin-left: 75%; */
}

@media screen and (min-width: 500px) {
  p,
  h1,
  h2,
  h3,
  h4 {
    display: block;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  h1 {
    font-size: 4.5rem;
  }

  header {
    height: 70px;
    margin-bottom: 15px;
  }

  .separate {
    margin: 15px;
  }
}

@media screen and (min-width: 979px) {
  h1 {
    font-size: 4.5rem;
  }

  header {
    height: 70px;
    margin-bottom: 15px;
  }

  .hero-text {
    text-align: center;
    height: 40vh;
  }

  .hero-image {
    margin: auto;
    width: 30%;
  }

  .separate {
    margin: 15px;
  }
}
