html  {
  font-size: 20px;
  box-sizing: border-box;
  margin: 0 auto;
  
  

  
}

body {
  width: 100%;
  height: 100%;
  margin: 0 auto;


}
*,
*:before,
*:after {
  box-sizing: inherit;
}

header .img {

  text-align: center;
}

.login {

  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.nav{

  
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
}
.nav li{
  display:inline-block;
}
.nav a{
  display:inline-block;
  padding:10px;
}

.middle .hello {

  margin-left: 50%
}


.button {
  border: solid 1px #000;
  border-radius: 4px;
  padding: 8px;
  text-decoration: none;
  line-height: 1;
  
}

.solid {
  background-color: #ff0000;
  color: #FFF;
}

.hero {

  display:flex;
  
}

.call-to-action {

  display:block;
  flex-flow: row nowrap;
  align-items: center;
  
  background-size:contain; 
  height: 394px;
  width: 768px;
}
@media(max-width: 768px) {
  html {
      font-size: 16px;
      box-sizing: border-box;
      
  }

  *,
  *:before,
  *:after {
      box-sizing: inherit;
  }

  header .img {

      text-align: center;
  }
  .nav{
  
      
      list-style:none;
      margin:0;
      padding:0;
      text-align:center;
  }
  .nav li{
      display:inline-block;
  }
  .nav a{
      display:inline-block;
      padding:10px;
  }


  .button {
      border: solid 1px #000;
      border-radius: 4px;
      padding: 8px;
      text-decoration: none;
      line-height: 1;
      
  }

  .solid {
      background-color: #ff0000;
      color: #FFF;
  }

  .hero {

      display:flex;
      
  }

  .call-to-action {

      display:block;
      flex-flow: row nowrap;
      align-items: center;
      background-image: url("/dribble_concept.jpg");
      background-size:contain; 
      height: 394px;
  }

}

h1, h2, h3, p {

  margin: 0 auto;
  text-align: center;
}


.container {
  padding-top: 4%;
  position:relative;
  margin:0 auto;
  max-width: 90vw;
}



.contained {
  padding-top: 4%;
  position:relative;
  margin:0 auto;
  max-width: 80%;
  padding-bottom:30px;
}

.false {
   background-color: #ff0000;
   width: 20px;
   height: 20px;

}


.true {
  background-color: green;
  width: 20px;
  height: 20px;

}