body {
  background-color: #e8ebf7;
}

.main-container {
  display: flex;
  max-width: 1200px;
  margin: auto;
  width: 100vw;
  height: 100vh;
  background-color: ;
}

.hero {
  width: 90%;
  margin: auto;
  background-color: ;
}

.hero-text {
  position: relative;
  text-align: center;
  min-height: 300px;
  background-color: thistle;
}

.hero-image {
  margin: auto;
  width: 50%;
}

/* True false divs to take out once I have light images in place */

.false {
  background-color: #ff0000;
  width: 20px;
  height: 20px;
}

.true {
  background-color: green;
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 479px) {
}

/* below are breakpoints to create, may not need them all */
/* @media screen and (max-width: 900px) */

/* @media screen and (max-width: 800px) { */

/* @media screen and (max-width: 672px) { */

/* @media screen and (max-width: 600px) { */

/* 
@media screen and (max-width: 495px) { */
